<div style="margin: 20px;">
  <div class="row">
    <app-dashboard-summary></app-dashboard-summary>
  </div>
  <div class="row">
    <div class="col-6">
      <app-dashboard-realtime></app-dashboard-realtime>
    </div>
    <div class="col-6">
      <app-dashboard-elided></app-dashboard-elided>
    </div>
  </div>
  <div class="row">
      <app-dashboard-delayed></app-dashboard-delayed>
  </div>
  <div class="row">
    <app-dashboard-online-clients></app-dashboard-online-clients>
  </div>
  <app-footer></app-footer>
</div>
