<div class="card border-primary mb-3">
  <div class="card-header">Dashboard for {{ this.gp?.gameTitle }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <app-pspswitch [clientNamePrefix]="clientNamePrefix" [targetTopics]="targetTopics"
          [targetQueues]="targetQueues"></app-pspswitch>
      </div>
      <div class="col-3" style="text-align: center;">
        <div class="card border-primary m-2">
          <div class="card-header">Total Volume</div>
          <div class="card-body">
            <h2 [@valueAnimation]="this.currStats.totalVolume" class="card-title summary-text">{{ this.currStats.totalVolume }}</h2>
          </div>
        </div>
      </div>
      <div class="col-3" style="text-align: center;">
        <div class="card border-primary m-2">
          <div class="card-header">Total Events</div>
          <div class="card-body">
            <h2 [@valueAnimation]="this.currStats.totalEvents" class="card-title summary-text">{{ this.currStats.totalEvents }}</h2>
          </div>
        </div>
      </div>
      <div class="col-3" style="text-align: center;">
        <div class="card border-primary m-2">
          <div class="card-header">OK / NG</div>
          <div class="card-body">
            <h2 class="card-title summary-text">
              <span [@valueAnimation]="this.currStats.successEvents">{{ this.currStats.successEvents }}</span> /
              <span [@valueAnimation]="this.currStats.failedEvents">{{ this.currStats.failedEvents }}</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-dashboard-client-connections></app-dashboard-client-connections>
    </div>
  </div>
</div>
